<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}">
  <meta charset="utf-8">
</head>
<body>
    <h1 style="text-align: center;">Cờ gánh</h1>
    <h2>Đăng bot</h2>
    <form method="POST" action="/submit" enctype="multipart/form-data">
      <input type="file" name="file" value="chọn file">
      <input type="submit" name="match_bot" value="Đấu với bot hệ thống">
      <input type="submit" name="match_player" value="Đấu với bot của người chơi">
    </form><br>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <div class="LoginTheme">   
      Logged in as : <strong > {{username_loggedin}} </strong> | <a href='{{ url_for('login') }}'>Đăng xuất</a>
    </div class='LogginTheme'>
</body>
</html>  